server:
  port: 8080

spring:
  application:
    name: sktx

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      # 수정 필요
      schema-locations: classpath:schema-postgres.sql
      data-locations: classpath:data-postgres.sql

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      auto-offset-reset: earliest
    producer:
      acks: all

sktx:
  waiting:
    token-ttl-seconds: 600
    admitted-ttl-seconds: 120
  reservation:
    hold-seconds: 300
  admit:
    per-second: 50
